dummy-project/src/main/mule/dummy-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="497f3b48-ad94-4da3-91f9-b002e8e61340" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummy-projectFlow" doc:id="c8e2b39c-9f80-43b9-adfc-37a644613a21" >
		<http:listener doc:name="Listener" doc:id="a837a3d6-6f5a-49a9-a40b-9a469c242aa2" config-ref="HTTP_Listener_config" path="/dummyproject"/>
		<set-payload value='#["Hi Dummy"]' doc:name="Set Payload" doc:id="273f7eb2-605c-4e0c-9d30-17c72b98be93" />
		<logger level="INFO" doc:name="Logger" doc:id="9e70504c-acff-4e84-a13b-1eb5f5e50267" message="#[payload]"/>
	</flow>
</mule>
